*{
    background-color:#d7eaf3;
    color: #143c3c;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

h1{
    font-size: 2em;
}

.App{
    padding: 70px 0;
}

input{
    display: flex;
    margin: 20px auto;
    width: 300px;
}

label{
    font-size: 18px;
}

button{
    background-color: #143c3c;
    color: #d7eaf3;
    border-radius: 8px;
    padding: 10px;
}